html,
body {
  height: 100%;
  /* overflow-y: hidden; */
  margin: 0;
}

body {
  background-color: #964d4d;
  color: #ffffff;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.content {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #591f1f;

  @media screen and (min-width: 768px) {
    width: 75%;
    height: 30%;
    border-radius: 8px;
  }
  /* padding: 12px 0; */
}

.name {
  color: #500000;
  font-weight: bold;
  text-decoration: underline;
}

.button {
  background-color: #642b2b;
  text-decoration: none;
  color: #ffffff;
  padding: 4px 12px;
  border-radius: 10px;
  text-transform: capitalize;
}
