body {
  background-color: #964d4d;
}

header {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7b5151;
  color: #ffffff;

  button {
    background-color: #642b2b;
    color: #ffffff;

    padding: 4px 12px;
    height: 60%;

    border: 1px solid transparent;
    border-radius: 12px;

    text-transform: capitalize;

    &:hover,
    &:active {
      cursor: pointer;
      color: #642b2b;
      background-color: #ffffff;
      border: 1px solid #642b2b;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 12px 16px;

    button {
      padding: 6px 18px;
    }
  }

  @media screen and (min-width: 1440px) {
    padding: 20px 32px;

    button {
      padding: 12px 32px;
    }
  }
}

.addform {
  padding: 12px 20px;
  background-color: #ffffff;
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  margin: 20px auto;

  label {
    width: 100%;
    opacity: 50%;
    transition: all 250ms;

    &:hover,
    &:active {
      opacity: 100%;
    }

    input {
      width: 100%;

      padding: 4px;
      margin-top: 4px;

      font-size: 12px;

      &:hover,
      &:active {
        outline: 1px solid #642b2b;
      }

      @media screen and (min-width: 768px) {
        padding: 4px 6px;
        font-size: 14px;
      }
    }

    textarea {
      width: 100%;
      height: 50px;

      resize: none;

      padding: 4px;
      margin-top: 4px;

      font-size: 12px;

      &:hover,
      &:active {
        outline: 1px solid #642b2b;
      }

      @media screen and (min-width: 768px) {
        padding: 4px 6px;
        font-size: 14px;
      }
    }
  }

  button {
    padding: 4px 24px;

    background-color: #642b2b;
    color: white;

    border: transparent;
    border-radius: 12px;

    @media screen and (min-width: 768px) {
      padding: 4px 32px;
    }

    @media screen and (min-width: 768px) {
      padding: 8px 48px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 90%;
    margin-top: 24px;
  }

  @media screen and (min-width: 1440px) {
    width: 50%;
    gap: 20px;
    margin-top: 40px;
  }
}

.todoList {
  list-style: none;

  height: 300px;
  width: 90%;

  margin: auto;
  padding: 0;

  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    height: 420px;
  }
}

.todoItem {
  background-color: #591f1f;
  color: #ffffff;

  // padding: 12px 20px 0 20px;
  // width: 100%;

  border-bottom: 1px solid white;

  &:last-child {
    border-bottom: 1px solid transparent;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 12px;

    @media screen and (min-width: 768px) {
      gap: 12px;

      width: 70%;

      font-size: 16px;
    }

    @media screen and (min-width: 1440px) {
      font-size: 24px;
    }
  }

  .buttons {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
    // gap: 4px;
    // align-items: end;

    margin-top: 12px;

    button {
      font-size: 12px;
      width: 100%;

      background-color: #500000;
      border: none;
      color: #ffffff;
      padding: 12px 4px;

      cursor: pointer;

      &:disabled {
        opacity: 50%;
        cursor: not-allowed;
      }

      &:not(:disabled):hover,
      &:not(:disabled):active {
        background-color: #ffffff;
        color: #500000;
      }

      @media screen and (min-width: 1440px) {
        font-size: 16px;
      }
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;

      width: 30%;

      font-size: 12px;
    }

    @media screen and (min-width: 1440px) {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    padding: 18px 32px;
    font-size: 16px;
  }

  @media screen and (min-width: 1440px) {
    padding: 24px 36px;
    font-size: 24px;
  }
}
